- name: Install Nginx
  yum:
    name: nginx
    state: latest

- name: Start Nginx Service
  ansible.builtin.systemd:
    state: restarted
    name: nginx
    enabled: yes

- name: Download code
  include_role:
    name: common
    tasks_from: download
